        <div class="container">
            
            <div class="blog">
                <div class="title">
                    Dashboard.
                </div>

             
                    <a href="/new">New Post</a>
         




            </div>
            <div class="stripe"></div>
            <div class="stripe"></div>
          
        </div>




