        
        {{#each posts as |post|}}
        <div class="container">
            
            <div class="blog">
                <div class="title">
                    {{ post.title }}
                    <div class="post-info">
                        posted by {{ post.user.username }}
                    </div>
                </div>
                <p>
                    {{ post.body }}
                </p>
            </div>
            <div class="stripe"></div>
            <div class="stripe"></div>
          
        </div>
        {{/each}}