        <div class="container">
            
            <div class="blog">
                <div class="title">
                    {{ title }}
                    <div class="post-info">
                        posted by 
                    </div>
                </div>
                <p>
                    {{ body }}
                </p>
            </div>
            <div class="stripe"></div>
            <div class="stripe"></div>
          
        </div>